@use "variables/variables" as var;

.top {
    text-align: center;
    width: var.$width;
    margin-left: auto;
    margin-right: auto;
}

.top>* {
    text-align: inherit;
}

.top header {
    font-family: var(--font-serif);
    font-size: 2.4rem; // TODO: Make this a variable as well as all the other heading sizes <21-03-24> 
    line-height: 1;
    margin: 20px; // NOTE: Space between `nav` and `header`
}
