pre,
code,
kbd {
    font-family: var(--font-monospace);
}

code:not(pre code) {
    background-color: var(--fg-muted-2);
    border-radius: var(--rounded-corner-small);
    box-shadow: var(--edge-highlight);
    color: var(--red-fg);
    padding: 0.015rem 0.175rem;
}

pre {
    border-radius: var(--rounded-corner);
    box-shadow: var(--edge-highlight), var(--shadow);
    line-height: normal; // Unset line height
    margin: 1rem 0 1rem;
    max-width: 100vw;
    overflow: auto;
    padding: 1rem;

    table td {
        padding: 0;
        border: none;
    }

    // The line number cells
    table td:nth-of-type(1) {
        text-align: center;
        user-select: none;
    }

    mark {
        background-color: var(--fg-muted-1);
        border-radius: 0; // Unset code block border radius
        color: var(--fg-color); // Unset mark color from primary color to text color
        display: block;
        padding: 0; // Unset mark padding
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    // The line numbers already provide some kind of left/right padding
    &[data-linenos] {
        padding: 1rem 0;
    }
}

kbd {
    background-color: var(--fg-muted-2);
    border-radius: var(--rounded-corner-small);
    box-shadow: inset 0 -2px 0 var(--fg-muted-2), 0 -1px 0 var(--fg-muted-3);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    line-height: normal;
    padding: 0.125rem 0.375rem;
    transition: var(--transition);

    // Small nice thingy, keys can be pressed!
    &:active {
        background-color: var(--fg-muted-3);
        box-shadow: inset 0 1px 0 var(--fg-muted-2);
        transform: translateY(2px);
    }
}
