// header,
h1,
h2,
h3,
h4,
h5,
h6 {
    // TODO: consider using a sans font <21-03-24> 
    font-family: var(--font-serif);
    font-weight: lighter;
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 3rem 0 1rem;

    // FIX: Is this needed? It is not used anywhere... <21-03-24> 
    .zola-anchor {
        display: none;
        visibility: hidden;
    }

    &:hover .zola-anchor {
        display: inline-block;
        text-decoration: none;
        visibility: visible;
    }
}

@mixin hashtag-prefix {
    font-family: var(--font-icons);
    color: var(--primary-color);
}

// TODO: Adjust the colors of the `before`s <21-03-24> 
h1 {
    font-size: 2.4rem;

    &:before {
        @include hashtag-prefix;
        font-size: 1.5rem;
        vertical-align: 14%;
        content: "# ";
    }
}

h2 {
    font-size: 2rem;

    &:before {
        @include hashtag-prefix;
        font-size: 1.2rem;
        vertical-align: 13%;
        content: "## ";
    }
}

h3 {
    font-size: 1.5rem;

    &:before {
        @include hashtag-prefix;
        font-size: 1rem;
        vertical-align: 10%;
        content: "### ";
    }
}
