{% extends "base.html" %}

{% block top %}
<header>Posts with category “{{ term.name }}”</header>
<small>
	<a class="link-page" href="{{ get_url(path='categories') }}">See all categories</a>
	<br />
	{{ term.pages | length }} posts in total
</small> <!-- FIX: This should be done in css <21-03-24> -->
{% endblock %}

{% block content %}
<ul> <!-- FIX: This does not make sense here, but it makes the listings more concise? What is the cause? How to do it
correctly? <21-03-24> -->
	{% for page in term.pages %}
	{{ macros::render_blog_page_box(page=page) }}
	{% endfor %}
</ul>
{% endblock content %}
