@font-face {
  font-family: "CMU Bright";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-Roman.woff2");
}

@font-face {
  font-family: "CMU Bright";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-Oblique.woff2");
}

@font-face {
  font-family: "CMU Bright";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-SemiBold.woff2");
}

@font-face {
  font-family: "CMU Bright";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-SemiBoldOblique.woff2");
}

@font-face {
  font-family: "CMU Bright";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-Bold.woff2");
}

@font-face {
  font-family: "CMU Bright";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUBright-BoldOblique.woff2");
}
