@font-face {
  font-family: "CMU Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUSansSerif.woff2");
}

@font-face {
  font-family: "CMU Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUSansSerif-Bold.woff2");
}

@font-face {
  font-family: "CMU Sans";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUSansSerif-Oblique.woff2");
}

@font-face {
  font-family: "CMU Sans";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUSansSerif-BoldOblique.woff2");
}
