@font-face {
  font-family: "CMU Concrete";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUConcrete-Roman.woff2");
}

@font-face {
  font-family: "CMU Concrete";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUConcrete-Bold.woff2");
}

@font-face {
  font-family: "CMU Concrete";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUConcrete-Italic.woff2");
}

@font-face {
  font-family: "CMU Concrete";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUConcrete-BoldItalic.woff2");
}
