@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUSerif-Roman.woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUSerif-Bold.woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("fonts/woff2/CMUSerif-Italic.woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("fonts/woff2/CMUSerif-BoldItalic.woff2");
}
