@use "./palette";
@import "tachyons-ext";

$body-font: "Fira Sans", Helvetica, Arial, sans-serif;
$header-font: "Alfa Slab One", serif;

// Switching theme will only work if JavaScript is enabled as well

// Default light theme
:root,
:root:not([data-theme]) {
  --rs-logo-filter: initial;
}

/* FIX: These should be some variable specific colours It adds a background which is white, but I should like it to
 * change to `mantle` or something similar <27-01-26> */
// Dark theme
:root[data-theme="dark"] {
  --rs-logo-filter: drop-shadow(1px 0 0px #fff) drop-shadow(0 1px 0 #fff)
    drop-shadow(-1px 0 0 #fff) drop-shadow(0 -1px 0 #fff);
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 30em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: $body-font;
  background-color: var(--body-bg-color);
  color: var(--body-color);

  /* Ensure the footer is always at the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > #main-content {
    flex: 1;
  }
}

blockquote {
  position: relative;
  background-color: var(--blockquote-bg-color);
  border-left: 8px solid var(--blockquote-left-border-color);
  border-radius: 5px;
  margin: 0;
  margin-bottom: 2rem;
  padding: 2rem;

  &:before {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  ol,
  ul {
    margin-block-start: 1em;
    margin-block-end: 0em;
  }
}

details > summary {
  cursor: pointer;
  font-style: italic;
}

details > blockquote {
  font-style: normal;
}

code {
  overflow: auto;
}

section,
article,
.footnotes {
  padding: 30px 0 60px 0;

  header {
    padding: 30px 0 60px 0;
    display: inline-block;

    h2 {
      font-size: 2.6em;
      font-family: $header-font;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
    }
  }
}

header h1,
section h2,
article h2 {
  z-index: 999999;
  position: relative;
}

header h1 {
  font-family: $header-font;
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
}

section,
article {
  padding: 30px 0 60px 0;
}

section,
article,
.container {
  padding-top: 20px;
}

// TODO:  remove when switching to Tachyons -- these are overrides for Skeleton.
ul.nav,
ul.nav li {
  margin-bottom: 0;
}

// TODO:  remove when switching to Tachyons -- these are overrides for Skeleton.
.column,
.columns {
  margin-left: 4%;
}

.nav a {
  color: var(--light-link);
}

div.brand {
  $v-top: 5px; // for getting the vertical rhythm just right

  color: black;
  font-family: $header-font;
  font-size: 3rem;
  text-decoration: none;
  margin-top: $v-top;

  & a {
    color: var(--div-brand-a-color);
    text-decoration: none;
  }

  img {
    width: 4.5rem;
    margin-right: 0.7rem;
    margin-top: -$v-top;
  }

  span {
    display: inline-block;
    margin-left: -1rem;
  }
}

ul,
ol {
  list-style-position: outside;
  padding-left: 1.2em;
}

ul {
  list-style-type: disc;
}

.posts {
  background-color: var(--posts-bg-color);
  color: var(--posts-fg-color);
  flex: 1 0 auto;

  .highlight {
    background-color: var(--accent-highlight);
  }
  a {
    color: var(--posts-fg-color);
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: var(--accent-highlight);
    border: 1px solid var(--accent-highlight);
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover,
    &:focus {
      border-color: white;
    }
  }
  code {
    color: var(--posts-code-color);
    background-color: rgba(white, 0.15);
    border: 1px solid rgba(white, 0.65);
  }
}

table.post-list a {
  text-decoration: none;
}
table.post-list a:hover {
  text-decoration: underline;
}

.publish-date-author {
  color: var(--publish-date-author);
  margin: -60px 0 60px 0;
}

.page-content {
  /* For keeping the footer at the bottom even for short content */
  flex: 1 0 auto;

  color: var(--body-color);
  .highlight {
    background-color: var(--accent-highlight);
  }
  a {
    color: var(--code-color);
    text-decoration: underline;
  }
  .button.button-secondary {
    background-color: var(--accent-highlight);
    color: var(--light-link);
    border: 1px solid var(--accent-highlight);
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover,
    &:focus {
      border-color: var(--light-link);
    }
  }
  code {
    color: var(--code-color);
    background-color: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
  }

  .z-code {
    background-color: var(--body-fg-color);
  }

  a.anchor::before {
    content: "§";
    display: none;
    position: absolute;
    width: 1em;
    margin-left: -1em;
    text-decoration: none;
    opacity: 0.7;
    color: var(--light-link);
    font-weight: normal;
  }
  :hover > a.anchor::before {
    display: block;
  }
  a.anchor:hover::before {
    opacity: 1;
  }
}

footer.footer {
  padding: 25px 0;
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
  flex-shrink: 0;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--accent-highlight);
    text-decoration: none;

    &:hover {
      color: var(--accent-highlight);
      text-decoration: underline;
    }
  }
}

footer h4 {
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 0;
}

footer .attribution {
  text-align: center;
  padding-top: 10px;
}

h3,
.post h2,
header h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: normal;
}

.post {
  h2 {
    font-size: 2em;
  }

  h3 {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right-thumbnail {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    clear: right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

header h1 {
  letter-spacing: 1px;
}

.highlight {
  height: 12px;
  position: relative;
  top: 0;
  left: -10px;
  width: 120%;
  max-width: 90vw;
  border-radius: 2px;
}

@media screen and (max-width: 769px) {
  .highlight {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

// Theme switch popup
// theme selector visible only if JavaScript is available

.theme-icon {
  color: var(--theme-icon);
  display: none;
  line-height: 2em;
  border: 2px solid var(--theme-popup-border);
  border-radius: 5px;
  padding: 0px 5px;
  color: var(--theme-choice-color);
  &:hover {
    color: var(--theme-choice-color);
  }
}

#theme-choice {
  display: none;
  border: 2px solid var(--theme-popup-border);
  border-radius: 5px;
  color: var(--theme-choice-color);
  background: var(--theme-popup-bg);
  position: absolute;
  list-style: none;
  font-weight: 400;
  padding: 0px;
  // counterbalance vendored skeleton.css
  margin: 0.2em -0.5em;
}

.theme-item {
  padding: 0px 5px;
}

#theme-choice.showThemeDropdown {
  display: block;
  z-index: 1;
}

li.theme-item:hover {
  background-color: var(--theme-hover);
}

.rs-logo {
  filter: var(--rs-logo-filter);
}
