{% import "macros.html" as macros -%}
{% extends "layout.html" -%}
{% block page -%}
<article id="{{ page.title | striptags }}" class="page-content">
  <div class="w-100 mw-none ph3 mw9-m mw9-l center f3">
    <header>
      <h2>{{ page.title | safe }}</h2>
      <!-- TODO: Here is the place where the highlight width is set if the text is wrapped in two lines. I should
              fix this by some kind of determination, where the wrap appears and by replacing the width with the
              acctual width after the wrap is determined. <20-01-26> -->
      <div class="highlight mt2 mb3"></div>
    </header>

    <div class="ph2"> <!-- For the comments to be a little bit wider -->
      <div class="publish-date-author">
        {{ page.date | date(format=config.extra.date.format.full) }}
        {%- if "updated" in page.extra %}
          (updated {{ page.extra.updated | date(format=config.extra.date.format.full) }}) 
        {% endif %}
        {%- if page.authors %}
          &middot; {{ page.authors | join(sep=", ") }}
        {% endif %}
        {%- if 'team' in page.extra -%}
         on behalf of <a href="{{ page.extra.team_url | safe }}">{{ page.extra.team }}</a> 
        {% endif %}
      </div>

      <div class="post">
        {{ page.content | safe }}
      </div>
    </div>
    {% block comments %}
      <script id="giscus" src="https://giscus.app/client.js"
        data-repo="kunzaatko/kunzaatko.github.io"
        data-repo-id="R_kgDOLhO7Jg"
        data-category="General"
        data-category-id="DIC_kwDOLhO7Js4C1FnP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    {% endblock comments %}
  </div>
</article>
{%- endblock page %}

<!--vim: set shiftwidth=2: -->
