{% import "macros.html" as macros -%}
{% extends "layout.html" -%}
{% block page -%}
<header class="mt3 mt0-ns mb4-ns">
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw6-l">
      <p>{{ section.extra.index_html | safe }}</p>
    </div>
  </div>
  {% if 'see_also' in section.extra -%}
  <div class="container flex flex-column flex-row-l justify-between-l">
    <div class="mw8-l">
      <p>
        <b>See also:</b>
        {% for see_also in section.extra.see_also -%}
        {% if loop.index0 != 0 %},{% endif %}
          <a href="{{ config.base_url | safe }}{{ see_also.path | safe }}">{{ see_also.text }}</a>
        {%- endfor -%}
      </p>
    </div>
  </div>
  {%- endif %}
</header>

<section id="posts" class="posts">
   <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <table class="post-list collapse w-100 f2-l f2-m f3-s">
    {%- set rev_pages = section.pages | reverse %}
    {%- for page in rev_pages %}
      {%- if loop.index0 == 0 %}
        {{ macros::show_year(date=page.date) }}
      {%- else %}
        {%- set year = page.date | date(format="%Y") %}
        {%- set prev_idx = loop.index0 - 1 %}
        {%- set prev_year = rev_pages[prev_idx].date | date(format="%Y") %}
        {%- if prev_year != year %}
          {{ macros::show_year(date=page.date) }}
        {%- endif %}
      {%- endif %}
      <tr>
        {{ macros::show_blog_date(date=page.date) }}
        <td class="bn"><a href="{{ config.base_url | safe }}{{ page.path | safe }}">{{ page.title | safe }}</a></td>
      </tr>
    {%- endfor %}
    </table>
  </div>
</section>
{%- endblock page %}

<!--vim: set shiftwidth=2: -->
