{% macro headers(title, section) -%}
<!-- Twitter card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@kunzaatko">
<meta name="twitter:creator" content="@kunzaatko">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ section.description }}">
<meta name="twitter:image" content="{{ config.base_url | safe }}/images/random-sampler-social.jpg">

<!-- Facebook OpenGraph -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ section.description }}">
<!-- TODO: Add a "wide" variant of the social image. Rust has "https://www.rust-lang.org/static/images/rust-social-wide.jpg" <19-01-26> -->
<meta property="og:image" content="{{ config.base_url | safe }}/images/random-sampler-social.jpg">
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_GB" />

<!-- icons -->
<link rel="stylesheet" href="{{ config.base_url | safe }}/icons/fontawesome.css" />
<link rel="stylesheet" href="{{ config.base_url | safe }}/icons/brands.css" />
<link rel="stylesheet" href="{{ config.base_url | safe }}/icons/solid.css" />

<!-- styles -->
<link rel="stylesheet" href="{{ config.base_url | safe }}/styles/skeleton.css"/>
<link rel="stylesheet" href="{{ config.base_url | safe }}/styles/tachyons.css"/>
<link rel="stylesheet" href="{{ config.base_url | safe }}/styles/fonts.css"/>
<link rel="stylesheet" href="{{ config.base_url | safe }}/styles/app.css"/>
<link rel="stylesheet" type="text/css" id="syntax-theme" /> <!-- theme for block code -->

<!-- stylesheet for user agents without js -->
<noscript>
    <link rel="stylesheet" href="{{ config.base_url | safe }}/styles/noscript.css">
    <link rel="stylesheet" type="text/css" href="/giallo-dark.css" media="(prefers-color-scheme: dark)" />
    <link rel="stylesheet" type="text/css" href="/giallo-light.css" media="(prefers-color-scheme: light)" />
</noscript>

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url | safe }}/images/apple_touch_icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url | safe }}/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url | safe }}/images/favicon-32x32.png">
<link rel="icon" type="image/svg+xml" href="{{ config.base_url | safe }}/images/favicon.svg" />
<link rel="manifest" href="{{ config.base_url | safe }}/images/site.webmanifest">
<link rel="mask-icon" href="{{ config.base_url | safe }}/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

 <!-- atom -->
 <link type="application/atom+xml" rel="alternate" href="{{ config.base_url | safe }}/{{ section.path | safe }}feed.xml" title="{{ section.title }}" />

<!-- theme switcher -->
<script src="{{ config.base_url | safe }}/scripts/theme-switch.js"></script>

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
	integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
	integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
	crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js"
	integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
	crossorigin="anonymous"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		renderMathInElement(document.body, {
			delimiters: [
				{left: '$$', right: '$$', display: true},
				{left: '$', right: '$', display: false},
				{left: '\\(', right: '\\)', display: false},
				{left: '\\[', right: '\\]', display: true}
			],
			throwOnError: false
		});
	});
</script>
{% endmacro %}

