{% macro show_blog_date(date) -%}
    <td class="tr o-60 pr4 pr5-l bn">{{ date | date(format=config.extra.date.format.month_day) | replace(from=" ", to="&nbsp;") | safe }}</td>  
{%- endmacro show_blog_date %}

{% macro show_year(year=false, date=false, post_name="Posts") -%}
  {% if not year %}
    {% if not date %} {{ throw(message="date or year is required in the `show_year` macro") }} {% endif %}
    {% set year = date | date(format="%Y") | int %}
  {% endif %}
  <tr>
    <td class="bn"></td>
    <td class="bn"><h3 class="f0-l f1-m f2-s mt4 mb0">{{ post_name }} in {{ year }}</h3></td> 
  </tr>
{%- endmacro show_year %}

<!--vim: set shiftwidth=2: -->
